<mat-card>
  <mat-toolbar *ngIf="!isDialog">
    <div>
      <button
        (click)="backToListGrantors()"
        aria-label="Regresar"
        mat-icon-button
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form (ngSubmit)="onSubmit()" [formGroup]="grantorForm">
    <div class="row justify-content-center">
      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
      
      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Apellido Paterno</mat-label>
          <input formControlName="father_last_name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Apellido Materno</mat-label>
          <input formControlName="mother_last_name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número de télefono</mat-label>
          <input formControlName="phone" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input formControlName="email" matInput type="email" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Lugar de nacimiento</mat-label>
          <input formControlName="place_of_birth" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            (focus)="dateForm.open()"
            [matDatepicker]="dateForm"
            class="clickable"
            formControlName="birthdate"
            matInput
          />
          <mat-datepicker-toggle
            [for]="dateForm"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #dateForm></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Estado civil</mat-label>
          <input formControlName="civil_status" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>RFC</mat-label>
          <input formControlName="rfc" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>CURP</mat-label>
          <input formControlName="curp" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Municipio</mat-label>
          <input formControlName="municipality" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Calle</mat-label>
          <input formControlName="street" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Colonia</mat-label>
          <input formControlName="colony" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número exterior</mat-label>
          <input formControlName="no_ext" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número interior</mat-label>
          <input formControlName="no_int" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input formControlName="no_locality" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Localidad</mat-label>
          <input formControlName="locality" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Código postal</mat-label>
          <input formControlName="zipcode" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Ocupación</mat-label>
          <input formControlName="occupation" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-3 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Participación</mat-label>
          <input
            [viewClassBuilder]="stakeProvider"
            title="Selecciona una participación"
            o2cSinglePopup
            formControlName="stake_id"
            matInput
            type="text"
          />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
      <button color="primary" mat-flat-button>Guardar</button>
    </div>
  </form>
</mat-card>
