<mat-toolbar>
  <button
    (click)="goToEditForm()"
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Editar Rol"
    mat-icon-button
    matTooltip="Editar Rol"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    (click)="delete()"
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar Rol"
    mat-icon-button
    matTooltip="Eliminar Rol"
  >
    <mat-icon>person_remove</mat-icon>
  </button>

  <button
    (click)="goToAddForm()"
    [matTooltipPosition]="'below'"
    aria-label="Agregar Rol"
    mat-icon-button
    matTooltip="Agregar Rol"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
<app-change-view
  (selectedItem)="setSelectedItem($event)"
  [actions]="actions"
></app-change-view>
