<div
  [class.custom-container--invalid]="ngControl?.touched && ngControl.control?.invalid"
  class="custom-container"
>
  <mat-form-field appChipListAutocompleteFix appearance="outline" class="custom-control">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip (removed)="remove(item)" *ngFor="let item of data">
        {{ item | mapTo: mapFn }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #chipInput
        (blur)="onTouch()"
        (input)="valueChange()"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [placeholder]="placeholder"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let item of filteredData | async" [value]="item">
        {{ item | mapTo: mapFn }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="custom-container__error">* Campo Requerido</div>
</div>
