<mat-form-field appearance="outline" class="w-100">
  <mat-label>Plantilla</mat-label>
  <mat-select [formControl]="templateControl" [compareWith]="compareObjects">
    <mat-option>Ninguna</mat-option>
    <mat-option
      *ngFor="let formStructure of formStructures; index as i"
      [value]="formStructure"
    >
      {{ formStructure.name }}
    </mat-option>
  </mat-select>
  <!--        <mat-error appErrorMessage></mat-error>-->
</mat-form-field>
<div class="row justify-content-between">
  <div class="col-4">
    <div
      cdkDropList
      class="draggable-list"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="formFields"
    >
      <div class="example-box" *ngFor="let field of formFields" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="d-flex justify-content-between w-100">
          <span class="d-flex align-items-center"
            >{{ field.key }} - Tipo: {{ field.controlType }}</span
          >

          <div>
            <button
              type="button"
              mat-icon-button
              matTooltip="Editar opción"
              *ngIf="field.key !== 'total'"
              (click)="setDataInForm(field)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              type="button"
              mat-icon-button
              matTooltip="Eliminar opción"
              *ngIf="field.key !== 'total'"
              (click)="removeField(field)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 mat-elevation-z5">
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(f)" class="m-5">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tipo de dato</mat-label>
        <mat-select formControlName="controlType">
          <mat-option>Ninguna</mat-option>
          <mat-option
            *ngFor="let type of types; index as i"
            [value]="type.value"
            >{{ type.label }}</mat-option
          >
        </mat-select>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Etiqueta</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="label"
        />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <div class="row">
        <mat-checkbox
          color="primary"
          class="checkbox"
          formControlName="required"
        >
          ¿Es requerido?
        </mat-checkbox>
      </div>

      <p
        class="row"
        *ngIf="errorMessage$ | async as message"
        style="color: red"
      >
        {{ message }}
      </p>

      <div
        class="d-flex flex-column"
        *ngIf="hasOptions()"
        formArrayName="options"
      >
        <div
          class="row"
          *ngFor="let option of options.controls; index as i"
          [formGroupName]="i"
        >
          <div class="col-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Clave</mat-label>
              <input
                matInput
                type="text"
                autocomplete="off"
                formControlName="key"
              />
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Valor</mat-label>
              <input
                matInput
                type="text"
                autocomplete="off"
                formControlName="value"
              />
            </mat-form-field>
          </div>
          <div
            class="col-2 d-flex align-items-center"
            style="margin-top: -20px"
          >
            <button
              *ngIf="options.controls.length > 1"
              type="button"
              mat-mini-fab
              color="warn"
              class="align-self-center search-button"
              (click)="removeOption(i)"
              matTooltip="Eliminar opción"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-1">
            <button
              type="button"
              mat-fab
              color="primary"
              class="align-self-center search-button"
              matTooltip="Agregar otra opción"
              (click)="addOption()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <button mat-flat-button color="primary" class="col-4">
          {{ isEdit ? 'Modificar' : 'Crear' }} campo
        </button>
        <button
          *ngIf="isEdit"
          mat-flat-button
          type="button"
          color="accent"
          class="col-4"
          (click)="cancelEditField()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <ng-container *ngIf="formFields$ | async as fields">
    <div class="d-flex justify-content-between">
      <button
        mat-flat-button
        color="primary"
        class="col-5 mt-5"
        (click)="saveTemplate()"
        *ngIf="fields.length > 1"
      >
        Guardar estructura de formulario
      </button>

      <button
        mat-flat-button
        color="warn"
        class="col-5 mt-5"
        *ngIf="isEditable$ | async"
        type="button"
        (click)="deleteTemplate()"
      >
        Eliminar plantilla
      </button>
    </div>
  </ng-container>
</div>
