<div class="alert" *ngIf="showNotification">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{ textNotification }}
</div>
<mat-card>
  <mat-toolbar class="actions-view">
    <button *ngIf="controls.preview" (click)="openDialogLastedRelatedReports()"  matTooltip="Cambiar de formato" mat-icon-button>
      <mat-icon>preview</mat-icon>
    </button>

    <button *ngIf="controls.check_box" (click)="openDialogLastedRelatedReports(true)" matTooltip="Seleccionar trabajo previo" mat-icon-button>
      <mat-icon>check_box</mat-icon>
    </button>

    <button *ngIf="controls.post_add" (click)="reloadStructureFormat()"  matTooltip="Crear nuevo reporte" mat-icon-button>
      <mat-icon>post_add</mat-icon>
    </button>

    <button *ngIf="controls.sync" (click)="loadStructureFormat({}, false, true)"  matTooltip="Actualizar cambios" mat-icon-button>
      <mat-icon>sync</mat-icon>
    </button>

    <button *ngIf="controls.save" (click)="onSubmit()"  matTooltip="Guardar" mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>


    <button *ngIf="controls.download" (click)="generateReport()"  matTooltip="Descargar Formato" mat-icon-button>
      <mat-icon>download</mat-icon>
    </button>

  </mat-toolbar>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-6 d-flex flex-column mt-4 mb-4">
        <h1 mat-dialog-title>{{ title }}</h1>
      </div>
    </div>
    <div class="col-12 d-flex flex-column">
      <app-text-editor-with-category-autocomplete
        [categories]="categories"
        [editorArray]="editorArray"
        formControlName="format"
      ></app-text-editor-with-category-autocomplete>
      <button *ngIf="!previewBuilderForm" color="primary" mat-flat-button>
        Guardar
      </button>
    </div>
  </form>
</mat-card>
