<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="back()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
        [disabled]="step !== 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Datos Generales</mat-panel-title>
          <mat-panel-description
            >Nombre, Roles y otras configuraciones sobre la fase
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="d-flex flex-column form-container">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de la Fase</mat-label>
            <input formControlName="name" matInput type="text" />
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea formControlName="description" matInput></textarea>
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <div class="checkbox-container">
            <mat-checkbox color="primary" formControlName="reportable"
              >¿Debe notificar?
            </mat-checkbox>
            <mat-checkbox color="primary" formControlName="payments">¿Requiere Pago?</mat-checkbox>
            <mat-checkbox color="primary" formControlName="admin"
              >¿Requiere supervisión del administrador o notario?
            </mat-checkbox>
          </div>
          <app-generic-autocomplete-chip
            formControlName="roles"
            [allData]="roles$ | async"
            label="Roles"
            placeholder="Roles que tienen permiso"
            [mapFn]="mapRoles"
          ></app-generic-autocomplete-chip>
        </div>

        <mat-action-row>
          <button type="button" mat-button color="primary" (click)="nextStep()">
            Formulario de Fase
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
        [disabled]="step !== 1"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Formulario de Fase</mat-panel-title>
          <mat-panel-description>Construya el formulario de la fase</mat-panel-description>
        </mat-expansion-panel-header>

        <app-dynamic-form-builder formControlName="form"></app-dynamic-form-builder>
        <!--        {{ form.get('form')?.value | json }}-->

        <mat-action-row>
          <button type="button" mat-button color="primary" (click)="prevStep()">
            Datos Generales
          </button>
          <button type="button" mat-button color="primary" (click)="nextStep()">
            Vista Previa
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
        [disabled]="step !== 2"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Vista Previa</mat-panel-title>
          <mat-panel-description>Visualice el formulario de la fase</mat-panel-description>
        </mat-expansion-panel-header>

        <app-preview-form-builder [formFields]="form$ | async"></app-preview-form-builder>

        <mat-action-row>
          <button type="button" mat-button color="primary" (click)="prevStep()">
            Formulario de Fase
          </button>
          <button mat-flat-button color="primary">Crear Fase</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>
