<mat-toolbar>
  <button
    (click)="back()"
    aria-label="Regresar"
    class="btn-back"
    mat-icon-button
  >
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button
    (click)="goToEditForm()"
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Editar Enlace"
    mat-icon-button
    matTooltip="Editar Enlace"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar Enlace"
    mat-icon-button
    matTooltip="Eliminar Enlace"
  >
    <mat-icon>person_remove</mat-icon>
  </button>
  <button
    (click)="goToAddForm()"
    [matTooltipPosition]="'below'"
    aria-label="Agregar Enlace"
    mat-icon-button
    matTooltip="Agregar Enlace"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
<app-change-view
  (selectedItem)="setSelectedItem($event)"
  [actions]="actions"
></app-change-view>
