<div *ngIf="(myProjects$ | async)?.data as projects" class="card-container">
  <div *ngFor="let project of projects" class="card-view">
    <ng-container *ngFor="let info of displayedInfo">
      <span class="card-view__field">{{ info.label }}</span>
      <span class="card-view__value">{{ project[info.key] }}</span>
    </ng-container>

    <span class="card-view__field">Procesos</span>
    <div class="card-view__field-container">
      <div *ngFor="let process of project.process" class="card-view__field-row">
        <div class="card-view__field-header">{{ process.name }}</div>
        <div class="card-view__field-actions">
          <mat-icon
            color="accent"
            (click)="startProcess(project, process)"
            matTooltip="Comenzar Proceso"
            >start
          </mat-icon>
          <mat-icon
            (click)="goToCurrentForm(project, process)"
            matTooltip="Continuar Proceso"
            >skip_next
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
