<div *ngIf="(myProjects$ | async)?.data as projects" class="card-container">
  <div *ngFor="let project of projects; index as i" class="card-view">
    <div class="w-100 d-flex justify-content-end" *ngIf="isAdmin">
      <button
        (click)="endProject(project)"
        aria-label="Finalizar proyecto"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-container *ngFor="let info of displayedInfo">
      <span class="card-view__field">{{ info.label }}</span>
      <span class="card-view__value">{{ project[info.key] }}</span>
    </ng-container>

    <span class="card-view__field">Procesos</span>
    <div class="card-view__field-container">
      <div *ngFor="let process of project.process" class="card-view__field-row">
        <div class="card-view__field-header">{{ process.name }}</div>
        <div class="card-view__field-actions">
          <mat-icon
            *ngIf="process?.pivot?.status == 0"
            color="accent"
            (click)="startProcess(project, process)"
            matTooltip="Comenzar Proceso"
            >start
          </mat-icon>
          <mat-icon
            *ngIf="process?.pivot?.status == 1"
            (click)="goToCurrentForm(project, process)"
            matTooltip="Continuar Proceso"
            >skip_next
          </mat-icon>

          <mat-icon
            *ngIf="process?.pivot?.status == 1 || process?.pivot?.status == 2"
            (click)="goToResumeProcess(project, process)"
            matTooltip="Ver resumen del proceso"
            >info
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
