.card-view {
  &__field-container {
    min-height: 12rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  &__field-row {
    min-height: 2rem;
    padding: 1rem;
    display: flex;
  }

  &__field-header {
    flex: 2;
    font-weight: 600;
  }

  &__field-actions {
    flex: 1;
    padding: 10px;
    display: flex;
    gap: 10px;

    & mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--glassColor-400);
      padding: 20px;
      border-radius: 50%;
      transition: all 300ms;

      &:hover {
        background: var(--primaryColor);
        transform: translateY(-2px);
      }
    }
  }
}
