<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="card overflow-hidden">
    <div class="bg-login">
      <div class="position-relative">
        <h5 class="text-white">Bienvenido</h5>
        <p class="text-white-50">Inicia sesión para continuar a ERP</p>
        <div class="logo-admin mt-4">
          <span class="material-icons logo-admin-icon">person_outline</span>
        </div>
      </div>
    </div>
    <div class="card-body pt-5">
      <div class="error-message m-3" *ngIf="errorMessage$ | async as message">
        <span>{{ message }}</span>
      </div>
      <div class="p-2">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Email</mat-label>
            <input
              appAutofocus
              matInput
              placeholder="example@email.com"
              type="text"
              formControlName="username"
              autocomplete="off"
            />
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input
              [type]="hidePassword ? 'password' : 'text'"
              matInput
              formControlName="password"
            />
            <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <div class="mt-3">
            <button
              mat-flat-button
              class="w-100"
              color="primary"
              type="submit"
              [disabled]="isLoading$ | async"
            >
              {{
                (isLoading$ | async) ? 'Iniciando sesión...' : 'Iniciar sesión'
              }}
            </button>
          </div>

          <div class="mt-4 text-center">
            <a href="#" class="text-muted">
              <span class="material-icons lock-icon">lock</span>
              ¿Olvidaste tu contraseña?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
