<header class="header">
  <div class="header__logo">
    <a routerLink="/dashboard">
      <img
        alt="Logo Code"
        class="header__logo-img"
        src="assets/images/brand/logo.png"
      />
    </a>
  </div>

  <!--  <div class="header__item">-->
  <!--    <div class="search-input">-->
  <!--      <input class="search-input__field" type="search" placeholder=" " id="search" />-->
  <!--      <label class="search-input__label" for="search">-->
  <!--        <i class="fas fa-search search-input__label-icon"></i>-->
  <!--        <span class="search-input__label-text">Search...</span>-->
  <!--      </label>-->
  <!--    </div>-->
  <!--    <div class="mega-menu">-->
  <!--      <span class="mega-menu__text">Mega Menu</span>-->
  <!--      <i class="fas fa-chevron-down mega-menu__icon"></i>-->
  <!--    </div>-->
  <!--  </div>-->
  <app-notification class="header__notification"></app-notification>

  <div class="header__profile">
    <div class="header__profile-container">
      <button [matMenuTriggerFor]="profileMenu" mat-button>
        <img
          alt=""
          class="profile-img"
          src="assets/images/profile_picture.jpg"
        />
        <span class="header__profile-label">Patrick</span>
        <span class="material-icons">expand_more</span>
      </button>
      <mat-menu #profileMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <mat-slide-toggle #slide (change)="changeTheme($event)" color="primary"
          >Modo {{ slide.checked ? 'Oscuro' : 'Claro' }}
        </mat-slide-toggle>
        <button (click)="logout()" mat-menu-item>Cerrar sesión</button>
      </mat-menu>
    </div>
  </div>
</header>
