<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="back()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off" >
    <div class="d-flex flex-column form-container">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del Proyecto</mat-label>
        <input formControlName="name" matInput type="text" />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Folio</mat-label>
        <input formControlName="folio" matInput type="text" />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="description" matInput></textarea>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha Esperada</mat-label>
        <input
          (focus)="dateForm.open()"
          [matDatepicker]="dateForm"
          class="clickable"
          formControlName="estimate_end_date"
          matInput
        />
        <mat-datepicker-toggle
          [for]="dateForm"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #dateForm></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cliente</mat-label>
        <input
          [viewClassBuilder]="clientProvider"
          title="Selecciona un cliente"
          o2cSinglePopup
          formControlName="client_id"
          matInput
          type="text"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <app-build-project formControlName="config"></app-build-project>
      <!--      {{ form.get('config')?.value | json }}-->
    </div>
    <div class="d-flex justify-content-end">
      <button color="primary" mat-flat-button type="submit">
        {{ edit ? 'Actualizar' : 'Crear' }} Proyecto
      </button>
    </div>
  </form>
</mat-card>
