<mat-card>
  <mat-toolbar class="actions-view">
    <button (click)="back()" matTooltip="Regresar" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button (click)="addCommentToProcedure()" matTooltip="Agregar comentario" mat-icon-button [disabled]="disableComments">
      <mat-icon>chat</mat-icon>
    </button>
  </mat-toolbar>
  <app-preview-form-builder class="mt-3"
    [formControl]="formControl"
    [formFields]="form$ | async"
  ></app-preview-form-builder>

  <div class="container-buttons">
    <button
      *ngIf="controls.prev"
      (click)="prevPhase()"
      color="primary"
      mat-stroked-button
    >
      Regresar a la actividad anterior
    </button>

    <button
      *ngIf="controls.supervision"
      (click)="supervise()"
      color="primary"
      mat-flat-button
    >
      Aprobar información
    </button>

    <button
      *ngIf="controls.saveData"
      (click)="saveForm(false)"
      color="primary"
      mat-flat-button
    >
      guardar información
    </button>

    <button
      *ngIf="controls.correction"
      (click)="saveForm(true)"
      color="primary"
      mat-flat-button
    >
      Corregir información
    </button>

    <button
      *ngIf="controls.next"
      (click)="nextPhase()"
      color="primary"
      mat-stroked-button
    >
      Pasar a la siguiete actividad
    </button>

    <button
      *ngIf="controls.completeProcess"
      (click)="completeProcess()"
      color="primary"
      mat-stroked-button
    >
      Dar por terminado
    </button>
  </div>
</mat-card>
