<app-preview-form-builder
  [formControl]="formControl"
  [formFields]="form$ | async"
></app-preview-form-builder>

<div class="container-buttons">
  <button
    *ngIf="controls.prev"
    (click)="prevPhase()"
    color="primary"
    mat-stroked-button
  >
    Formulario Anterior
  </button>
  <button
    *ngIf="controls.supervision"
    (click)="supervise()"
    color="primary"
    mat-flat-button
  >
    Supervisar
  </button>
  <button
    *ngIf="!controls.supervision"
    (click)="saveForm()"
    color="primary"
    mat-flat-button
  >
    Guardar Información
  </button>
  <button
    *ngIf="controls.next"
    (click)="nextPhase()"
    color="primary"
    mat-stroked-button
  >
    Formulario Siguiente
  </button>
</div>
