:host {
  display: block;
  border-radius: 4px;
  background: var(--bgColor);
}

.container-buttons {
  display: flex;
  background: var(--glassColor-200);
  min-height: 5rem;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

.actions-view {
  display: flex;
  // flex-direction: row-reverse;
  background: #d7d7d775;
}
