<mat-card>
  <mat-toolbar>
    <div>
      <button aria-label="Regresar" mat-icon-button (click)="backToListRoles()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form
    class="row justify-content-center"
    [formGroup]="clientForm"
    (ngSubmit)="onSubmit()"
    (blur)="logValidationErrors()"
  >
    <div class="col-6 d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" (blur)="logValidationErrors()" />
        <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input
          matInput
          type="email"
          placeholder="ejemplo@ejemplo.com"
          formControlName="email"
          (blur)="logValidationErrors()"
        />
        <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput type="tel" formControlName="phone" (blur)="logValidationErrors()" />
        <mat-error *ngIf="formErrors.phone">{{ formErrors.phone }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Alias/Apodo</mat-label>
        <input matInput type="text" formControlName="nickname" (blur)="logValidationErrors()" />
        <mat-error *ngIf="formErrors.nickname">{{ formErrors.nickname }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput type="text" formControlName="address" (blur)="logValidationErrors()" />
        <mat-error *ngIf="formErrors.address">{{ formErrors.address }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>RFC</mat-label>
        <input matInput type="text" formControlName="rfc" (blur)="logValidationErrors()" />
        <mat-error *ngIf="formErrors.rfc">{{ formErrors.rfc }}</mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary">Guardar</button>
    </div>
  </form>
</mat-card>
