<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<h2 mat-dialog-title>{{ data.title }}</h2>

<div mat-dialog-content>
  <app-table-search
    [pageSize]="options.pageSize"
    (optionSelected)="$event ? (optionSelected = $event) : (optionSelected = null)"
  ></app-table-search>
</div>

<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button [mat-dialog-close]="optionSelected" cdkFocusInitial>Seleccionar</button>
</div>
