<span class="input-label">{{ label }}</span>
<div
  class="input-file"
  (click)="fileInput.click()"
  appDragFile
  (onFileDropped)="uploadFile($event)"
>
  <input
    hidden
    type="file"
    accept="xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf"
    #fileInput
    (change)="uploadFile($any($event.target).files)"
  />
  <mat-icon class="input-file__icon">upload_file</mat-icon>
  <span class="input-file__text">Arrastra el archivo o haz click</span>
  <div class="input-file__description" *ngIf="file">
    <span class="input-file__name">{{ file.name }}</span>
    <span class="input-file__size">{{ file.size | mapTo: mapFileSize }}</span>
  </div>
</div>
