<span class="input-label">{{ label }}</span>
<div
  (click)="fileInput.click()"
  (onFileDropped)="uploadFile($event)"
  appDragFile
  class="input-file"
>
  <input
    #fileInput
    (change)="uploadFile($any($event.target).files)"
    accept="xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf"
    hidden
    type="file"
  />
  <mat-icon class="input-file__icon">upload_file</mat-icon>
  <span class="input-file__text">Arrastra el archivo o haz click</span>
  <div *ngIf="file" class="input-file__description">
    <span class="input-file__name">{{ file.name }}</span>
    <span class="input-file__size">{{ file.size | mapTo : mapFileSize }}</span>
  </div>
</div>
