<mat-toolbar>
  <button
    (click)="goToClientsLink()"
    *ngIf="selectedItem && selectedItem.type === 1"
    [matTooltipPosition]="'below'"
    aria-label="Ver Enlaces"
    color="primary"
    mat-icon-button
    matTooltip="Ver Enlaces"
  >
    <mat-icon>people</mat-icon>
  </button>
  <button
    (click)="goToEditForm()"
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Editar cliente"
    mat-icon-button
    matTooltip="Editar cliente"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    (click)="delete()"
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar cliente"
    mat-icon-button
    matTooltip="Eliminar cliente"
  >
    <mat-icon>person_remove</mat-icon>
  </button>

  <button
    (click)="goToAddForm()"
    [matTooltipPosition]="'below'"
    appViewModePermission
    aria-label="Agregar Cliente"
    mat-icon-button
    matTooltip="Agregar Cliente"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
<app-change-view
  (selectedItem)="setSelectedItem($event)"
  [actions]="actions"
></app-change-view>
