<mat-toolbar>
  <button
    *ngIf="selectedItem && selectedItem.type === 1"
    [matTooltipPosition]="'below'"
    aria-label="Ver Enlaces"
    mat-icon-button
    color="primary"
    matTooltip="Ver Enlaces"
    (click)="goToClientsLink()"
  >
    <mat-icon>people</mat-icon>
  </button>
  <button
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Editar cliente"
    mat-icon-button
    matTooltip="Editar cliente"
    (click)="goToEditForm()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar cliente"
    mat-icon-button
    matTooltip="Eliminar cliente"
    (click)="delete()"
  >
    <mat-icon>person_remove</mat-icon>
  </button>

  <button
    [matTooltipPosition]="'below'"
    aria-label="Agregar Cliente"
    mat-icon-button
    matTooltip="Agregar Cliente"
    (click)="goToAddForm()"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
<app-change-view [actions]="actions" (selectedItem)="setSelectedItem($event)"></app-change-view>
