<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="back()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off" class="row justify-content-center">
    <div class="col-6 d-flex flex-column form-container">
      <mat-form-field appearance="outline">
        <mat-label>Documento</mat-label>
        <input
          [viewClassBuilder]="documentProvider"
          title="Selecciona un documento"
          o2cSinglePopup
          formControlName="document_id"
          matInput
          type="text"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <ng-container>
        <app-input-file formControlName="file" label="Archivo" accept=".pdf,.doc,.docx"></app-input-file>
      </ng-container>

      <!--      {{ form.get('config')?.value | json }}-->
      <div class="d-flex justify-content-end">
        <button color="primary" mat-flat-button type="submit">
          {{ edit ? 'Actualizar' : 'Agregar' }} documento
        </button>
      </div>
    </div>
  </form>
</mat-card>
