<div class="notifications-container">
  <ul class="notifications__list">
    <li class="notifications__item" *ngFor="let notification of notifications$ | async">
      <div class="notifications__item-body">
        <span class="material-icons notifications__item-icon">notifications</span>
        <span class="notifications__item-label">{{ notification.notification.message }}</span>
      </div>
      <span class="notifications__item-date">{{ notification.created_at | date }}</span>
    </li>
    <!--    <li class="notifications__item">-->
    <!--      <div class="notifications__item-body">-->
    <!--        <span class="material-icons notifications__item-icon">notifications</span>-->
    <!--        <span class="notifications__item-label">Prueba</span>-->
    <!--      </div>-->
    <!--      <span class="notifications__item-date">Fecha de Prueba</span>-->
    <!--    </li>-->
  </ul>
</div>
