<div class="notifications-container">
  <ul class="notifications__list">
    <li
      *ngFor="let notification of notifications$ | async; let i = index; trackBy: trackById"
      [class.notifications__item--close]="notification.isClose"
      [style.animation-delay]="i * 1.5 + 's'"
      class="notifications__item"
    >
      <span (click)="checkIsClose(notification)" class="material-icons notifications__item-close"
        >close</span
      >
      <div class="notifications__item-body">
        <span class="material-icons notifications__item-icon">notifications</span>
        <span class="notifications__item-label">{{ notification.notification.message }}</span>
      </div>
      <span class="notifications__item-date">{{ notification.created_at | date }}</span>
    </li>
    <!--    <li class="notifications__item">-->
    <!--      <span class="material-icons notifications__item-close">close</span>-->
    <!--      <div class="notifications__item-body">-->
    <!--        <span class="material-icons notifications__item-icon">notifications</span>-->
    <!--        <span class="notifications__item-label">Prueba</span>-->
    <!--      </div>-->
    <!--      <span class="notifications__item-date">Fecha de Prueba</span>-->
    <!--    </li>-->
    <!--    <li class="notifications__item notifications__item&#45;&#45;close">-->
    <!--      <span class="material-icons notifications__item-close">close</span>-->
    <!--      <div class="notifications__item-body">-->
    <!--        <span class="material-icons notifications__item-icon">notifications</span>-->
    <!--        <span class="notifications__item-label">Prueba</span>-->
    <!--      </div>-->
    <!--      <span class="notifications__item-date">Fecha de Prueba</span>-->
    <!--    </li>-->
  </ul>
</div>
