<div [formGroup]="form" class="form-group mt-3">
  <div [ngSwitch]="input.controlType">
    <mat-form-field appearance="outline" *ngSwitchCase="'textbox'" class="w-100">
      <mat-label>{{ input.label }}</mat-label>
      <input
        matInput
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
        [value]="input.value"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngSwitchCase="'number'" class="w-100">
      <mat-label>{{ input.label }}</mat-label>
      <input
        matInput
        [formControlName]="input.key"
        [value]="input.value"
        [id]="input.key"
        [type]="'number'"
        autocomplete="off"
      />
    </mat-form-field>

    <div *ngSwitchCase="'dropdown'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ input.label }}</mat-label>
        <mat-select [formControlName]="input.key">
          <mat-option>Ninguna</mat-option>
          <mat-option *ngFor="let option of input.options; index as i" [value]="option.key">{{
            option.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'checkbox'">
      <section class="example-section">
        <mat-checkbox color="primary" [formControlName]="input.key" [value]="input.value">{{
          input.label
        }}</mat-checkbox>
      </section>
    </div>

    <div *ngSwitchCase="'radio'">
      <label>{{ input.label }}</label>
      <mat-radio-group
        class="radio-group"
        aria-label="Select an option"
        [formControlName]="input.key"
      >
        <mat-radio-button
          class="radio-button"
          color="primary"
          *ngFor="let option of input.options"
          [value]="option.value"
        >
          {{ option.key }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngSwitchCase="'textarea'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ input.label }}</mat-label>
        <textarea matInput [formControlName]="input.key" [value]="input.value"></textarea>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'date'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ input.label }}</mat-label>
        <input
          matInput
          [matDatepicker]="dateForm"
          [formControlName]="input.key"
          [value]="input.value"
        />
        <mat-datepicker-toggle matSuffix [for]="dateForm"></mat-datepicker-toggle>
        <mat-datepicker #dateForm disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
