<div [formGroup]="form" class="form-group mt-3">
  <div [ngSwitch]="input.controlType">
    <mat-form-field
      *ngSwitchCase="'textbox'"
      appearance="outline"
      class="w-100"
    >
      <mat-label>{{ input.label }}</mat-label>
      <input
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
        [value]="input.value"
        autocomplete="off"
        matInput
      />
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="w-100">
      <mat-label>{{ input.label }}</mat-label>
      <input
        [formControlName]="input.key"
        [id]="input.key"
        [type]="'number'"
        [value]="input.value"
        autocomplete="off"
        matInput
      />
    </mat-form-field>

    <div *ngSwitchCase="'dropdown'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ input.label }}</mat-label>
        <mat-select [formControlName]="input.key">
          <mat-option>Ninguna</mat-option>
          <mat-option
            *ngFor="let option of input.options; index as i"
            [value]="option.value"
            >{{ option.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'checkbox'">
      <section class="example-section">
        <mat-checkbox
          [formControlName]="input.key"
          [value]="input.value"
          color="primary"
          >{{ input.label }}</mat-checkbox
        >
      </section>
    </div>

    <div *ngSwitchCase="'radio'">
      <label>{{ input.label }}</label>
      <mat-radio-group
        [formControlName]="input.key"
        aria-label="Select an option"
        class="radio-group"
      >
        <mat-radio-button
          *ngFor="let option of input.options"
          [value]="option.value"
          class="radio-button"
          color="primary"
        >
          {{ option.key }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngSwitchCase="'textarea'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ input.label }}</mat-label>
        <textarea
          [formControlName]="input.key"
          [value]="input.value"
          matInput
        ></textarea>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'date'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ input.label }}</mat-label>
        <input
          [formControlName]="input.key"
          [matDatepicker]="dateForm"
          [value]="input.value"
          matInput
        />
        <mat-datepicker-toggle
          [for]="dateForm"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #dateForm disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
