<mat-toolbar>
  <button
    (click)="goToEditForm()"
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Editar Proceso"
    mat-icon-button
    matTooltip="Editar Proceso"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="selectedItem"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar Proceso"
    mat-icon-button
    matTooltip="Eliminar Proceso"
  >
    <mat-icon>person_remove</mat-icon>
  </button>
  <button
    (click)="goToAddForm()"
    [matTooltipPosition]="'below'"
    aria-label="Agregar Proceso"
    mat-icon-button
    matTooltip="Agregar Proceso"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
<app-change-view
  (selectedItem)="setSelectedItem($event)"
  [actions]="actions"
></app-change-view>
