<mat-toolbar>
  <button
    (click)="edit()"
    *ngIf="selection.selected.length !== 0"
    [matTooltipPosition]="'below'"
    aria-label="Editar estado de la cotización"
    mat-icon-button
    matTooltip="Editar estado de la cotización"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    (click)="delete()"
    *ngIf="selection.selected.length !== 0"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar estado de la cotización"
    mat-icon-button
    matTooltip="Eliminar estado de la cotización"
  >
    <mat-icon>person_remove</mat-icon>
  </button>
  <button
    (click)="goToNewQuoteStatus()"
    [matTooltipPosition]="'below'"
    aria-label="Agregar estado de la cotización"
    mat-icon-button
    matTooltip="Agregar estado de la cotización"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let row" mat-cell>
      <mat-checkbox
        (change)="$event ? selection.toggle(row) : null"
        (click)="$event.stopPropagation()"
        [aria-label]="checkboxLabel(row)"
        [checked]="selection.isSelected(row)"
        color="primary"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nombre</th>
    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell>Descripción</th>
    <td *matCellDef="let element" mat-cell>{{ element.description }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    (click)="selection.toggle(row)"
    *matRowDef="let row; columns: displayedColumns"
    mat-row
  ></tr>
</table>
<mat-paginator
  (page)="pageEvent = $event; onPaginateChange($event)"
  [length]="totalItems"
  [pageSizeOptions]="[5, 10, 25, 100]"
  [pageSize]="pageSize"
></mat-paginator>
