<div *ngIf="data$ | async as data" class="card-container">
  <div *ngFor="let item of data.data; let i = index" class="card-view">
    <ng-container *ngFor="let label of labels; let i = index">
      <span class="card-view__field">{{ label }}</span>
      <ng-container
        *ngIf="displayedColumns[i] | mapTo: doesntHaveHtml; else renderHtml"
      >
        <span class="card-view__value">{{ item | mapTo: mapToGetKey:i }}</span>
      </ng-container>

      <ng-template #renderHtml>
        <div [innerHTML]="item | mapTo: mapToInnerHtml:i"></div>
      </ng-template>
    </ng-container>

    <div class="card-view__buttons">
      <ng-container *ngFor="let action of actions">
        <mat-icon
          (click)="action.callback(item)"
          *ngIf="action.isVisible | mapTo: mapToVisible:item"
          [matTooltip]="action?.tooltip | mapTo: mapToTooltip"
          class="card-view__button"
          matTooltipPosition="before"
        >
          {{ action.icon }}</mat-icon
        >
      </ng-container>
    </div>
  </div>
</div>
<mat-paginator
  (page)="onPaginateChange($event)"
  [length]="(data$ | async)?.total"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
></mat-paginator>
