.build-process {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.075);
  border-radius: 8px;

  &__dialog-button {
    margin-bottom: 2rem;
  }


  &__container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    min-height: 15rem;
    border: 3px solid #d7d7d7;
    border-radius: 12px;
  }

  &__placeholder {
    display: flex;
    min-height: 15rem;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 3.5rem;
    color: var(--primaryColor);
    background: rgba(0, 0, 0, 0.3);
  }

  &__item {
    display: flex;
    flex: 0 1 12rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 2px;
    cursor: move;

    &:not(:last-child) {
      border-bottom: 1px solid #d7d7d7;
    }
  }

  .placeholder-item {
    height: 12rem;
    background: #eee;
    border: 3px dotted #434343;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .phase {

    &-item {
      flex: 1 1 10rem;
      display: flex;
      padding: 2rem;
      align-items: center;
      column-gap: 2rem;
      overflow: hidden;

      &__name {
        flex: 1 1 5rem;
        color: var(--primaryColor);
        font-weight: 500;
        font-size: 1.6rem;
      }

      &__description {
        flex: 3 1;
        font-weight: 400;
        font-size: 1.3rem;
      }
    }

    &-config {
      position: relative;
      border-radius: 8px;
      flex: 1 1 10rem;
      padding: 2rem;
      background: rgba(255, 255, 255, .075);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &__title {
        position: absolute;
        font-weight: 500;
        font-size: 1.2rem;
        top: 4px;
        left: 2rem;
      }

    }
  }

}
