<div class="build-process">
  <button
    (click)="openDialog()"
    class="build-process__dialog-button"
    color="primary"
    mat-flat-button
    type="button"
  >
    Seleccionar Fases del proceso
  </button>

  <div
    (cdkDropListDropped)="drop($event)"
    [formGroup]="form"
    cdkDropList
    class="build-process__container"
  >
    <ng-container *ngIf="processPhases; else containerPlaceholder">
      <div
        *ngFor="let phase of processPhases; let i = index"
        cdkDrag
        class="build-process__item"
      >
        <!--        <div class="placeholder-item" *cdkDragPlaceholder></div>-->
        <div class="phase-item">
          <span class="phase-item__name">
            {{ phase.name }}
          </span>
          <span class="phase-item__description">
            {{ phase.description }}
          </span>
        </div>
        <div class="phase-config" formArrayName="order_phases">
          <ng-container [formGroupName]="i">
            <span class="phase-config__title">Configuración de la Fase</span>
            <mat-checkbox color="primary" formControlName="end_process">
              ¿Termina el proceso?
            </mat-checkbox>
            <mat-form-field appearance="outline">
              <mat-label>Fase Previa</mat-label>
              <mat-select formControlName="previous">
                <mat-option [value]="null">Sin Fase Previa</mat-option>
                <mat-option
                  *ngFor="let process of processPhases | mapTo: onlyPrevious:i"
                  [value]="process.id"
                >
                  {{ process.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Roles Supervisores</mat-label>
              <input
                [providers]="rolesProvider"
                [service]="rolesService"
                app-bind-multi-popup
                formControlName="roles_supervision"
                matInput
                title="Roles Supervisores"
                type="text"
              />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Equipo de Trabajo</mat-label>
              <input
                [providers]="rolesProvider"
                [service]="rolesService"
                app-bind-multi-popup
                formControlName="roles_team"
                matInput
                title="Equipo de Trabajo"
                type="text"
              />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-template #containerPlaceholder>
      <div class="build-process__placeholder">Selecciona las fases</div>
    </ng-template>
  </div>
</div>
