<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="backToListRoles()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="roleForm"
    class="row justify-content-center"
  >
    <div class="col-6 d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Administrador"
          type="text"
        />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="description" matInput></textarea>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <ng-container formGroupName="config">
        <app-generic-autocomplete-chip
          label="Módulos"
          [allData]="modules$ | async"
          placeholder="Escribe el nombre de los módulos"
          [mapFn]="moduleName"
          formControlName="modules"
        ></app-generic-autocomplete-chip>
      </ng-container>

      <button color="primary" mat-flat-button>Guardar</button>
    </div>

    {{ roleForm.value | json }}
  </form>
</mat-card>
