<mat-card>
    <mat-toolbar>
      <div>
        <button
          (click)="backToList()"
          aria-label="Regresar"
          mat-icon-button
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="row justify-content-center"
    >
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel
          (opened)="step = 0"
          [expanded]="step === 0"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Selección de forma</mat-panel-title>
            <mat-panel-description
              >Configuración de la forma</mat-panel-description
            >
          </mat-expansion-panel-header>
          <div class="row justify-content-center">
            <div class="col-6 d-flex flex-column pe-0">
              <mat-form-field appearance="outline">
                <mat-label>Trámite</mat-label>
                <input
                  [viewClassBuilder]="procedureProvider"
                  title="Selecciona un trámite"
                  o2cSinglePopup
                  formControlName="procedure_id"
                  matInput
                  type="text"
                />
                <mat-icon matSuffix>search</mat-icon>
                <mat-error appErrorMessage></mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <mat-action-row>
            <button (click)="goToNext()" color="primary" mat-button>
              Siguiente
            </button>
          </mat-action-row>
        </mat-expansion-panel>

  
        <!-- Datos en caso de tener un formulario -->
        <mat-expansion-panel
          (opened)="step = 1"
          [expanded]="step === 1"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Completar datos </mat-panel-title>
            <mat-panel-description>
              Completar los datos de la forma seleccionada
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-action-row>
            <button (click)="goToPrev()" color="warn" mat-button>Atras</button>
          </mat-action-row>
        </mat-expansion-panel>
  
      </mat-accordion>
    </form>
  </mat-card>
  