<ng-container>
  <form [connectForm]="formValues$ | async" [formGroup]="formGroup">
    <div *ngFor="let formField of fields; index as i" class="row">
      <div class="col-10">
        <!--        <app-dynamic-form-input [input]="formField" [form]="form"></app-dynamic-form-input>-->
        <div [ngSwitch]="formField.controlType">
          <mat-form-field
            *ngSwitchCase="'textbox'"
            appearance="outline"
            class="w-100"
          >
            <mat-label>{{ formField.label }}</mat-label>
            <input
              [formControlName]="formField.key"
              [id]="formField.key"
              [type]="formField.type"
              [value]="formField.value"
              autocomplete="off"
              matInput
            />
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <mat-form-field
            *ngSwitchCase="'number'"
            appearance="outline"
            class="w-100"
          >
            <mat-label>{{ formField.label }}</mat-label>
            <input
              [formControlName]="formField.key"
              [id]="formField.key"
              [type]="'number'"
              [value]="formField.value"
              autocomplete="off"
              matInput
            />
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <div *ngSwitchCase="'dropdown'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ formField.label }}</mat-label>
              <mat-select [formControlName]="formField.key">
                <mat-option>Ninguna</mat-option>
                <mat-option
                  *ngFor="let option of formField.options; index as i"
                  [value]="option.value"
                >{{ option.value }}</mat-option
                >
              </mat-select>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="'checkbox'">
            <section class="example-section">
              <mat-checkbox
                [formControlName]="formField.key"
                [value]="formField.value"
                color="primary"
              >{{ formField.label }}</mat-checkbox
              >
            </section>
          </div>

          <div *ngSwitchCase="'radio'">
            <label>{{ formField.label }}</label>
            <mat-radio-group
              [formControlName]="formField.key"
              aria-label="Select an option"
              class="radio-group"
            >
              <mat-radio-button
                *ngFor="let option of formField.options"
                [value]="option.value"
                class="radio-button"
                color="primary"
              >
                {{ option.key }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngSwitchCase="'textarea'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ formField.label }}</mat-label>
              <textarea
                [formControlName]="formField.key"
                [value]="formField.value"
                matInput
              ></textarea>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="'date'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ formField.label }}</mat-label>
              <input
                [formControlName]="formField.key"
                [matDatepicker]="dateForm"
                [value]="formField.value"
                matInput
              />
              <mat-datepicker-toggle
                [for]="dateForm"
                matSuffix
              ></mat-datepicker-toggle>
              <mat-datepicker #dateForm disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
