.build-project {
  padding: 2rem;
  background: var(--glassColor-200);
  border-radius: 8px;
  margin-bottom: 2rem;

  &__dialog-button {
    margin-bottom: 2rem;
  }

  &-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    min-height: 15rem;
    border: 3px solid var(--textColor-400);
    border-radius: 12px;
  }

  &__placeholder {
    display: flex;
    min-height: 15rem;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 3.5rem;
    color: var(--primaryColor);
    background: rgba(0, 0, 0, 0.3);
  }

}

.process {
  background: rgba(0, 0, 0, .33);
  min-height: 15rem;
  padding: 1rem;
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__header {
    font-size: var(--text-500);
    color: var(--textColor-100);
    font-weight: 600;
    padding-left: 0.5rem;
    margin-bottom: 2rem;

    &-description {
      display: block;
      color: var(--textColor-400);
      font-size: var(--text-300);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
  }
}

.process-phase {
  background: var(--glassColor-300);
  border-radius: 8px;
  min-height: 6rem;
  padding: 1rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__name {
    color: var(--textColor-200);
    margin-bottom: 1rem;
  }

  &__involved {
    & mat-radio-group {
      display: block;

      & mat-radio-button {
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }

  &__groups {
    position: relative;
    display: flex;
    column-gap: 2rem;
    padding-top: 2rem;

    &-title {
      position: absolute;
      left: 1rem;
      top: 0;
      font-size: var(--text-300);
      color: var(--textColor-300);
    }
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & > * {
      width: 100%;
    }

    & app-generic-autocomplete-chip {
      margin-top: -2rem;
      margin-bottom: auto;
    }
  }

  &__config {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &-row {
      display: flex;
      row-gap: 1rem;
      align-items: center;
      padding: 1rem 1.5rem;
      min-height: 5rem;
      border-radius: 4px;
      color: var(--textColor-800);
      background: var(--glassColor-300);
    }

    &-name {
      flex: 1;
    }

    & mat-checkbox {
      flex: 2;
    }
  }
}
