<span class="input-label">{{ label }}</span>
<div
  (click)="fileInput.click()"
  (onFileDropped)="uploadFile($event)"
  appDragFile
  class="input-image"
>
  <input
    #fileInput
    (change)="uploadFile($any($event.target).files)"
    accept="image/*"
    hidden
    type="file"
  />
  <mat-icon class="input-image__icon">photo_frame</mat-icon>
  <span class="input-image__text">Arrastra la imagen o haz click</span>
</div>
<div class="img-preview-container">
  <div *ngIf="imgURL; else placeholder" class="img-preview">
    <img [src]="imgURL" alt="Visualizar imagen" class="img-preview__img" />
    <span class="img-preview__name">{{ imgName }}</span>
  </div>

  <ng-template #placeholder>
    <span class="placeholder__text"> No se ha cargado la imagen aún </span>
    <mat-icon class="placeholder__icon">hide_image</mat-icon>
  </ng-template>
</div>
