<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="backToListUsers()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <ng-container *ngIf="quoteForm" [formGroup]="quoteForm">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        (opened)="goToHeaderForm()"
        [expanded]="step === HEADER_STEP"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Encabezado</mat-panel-title>
          <mat-panel-description>
            Datos acerca de la cotización y el cliente
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div class="col-6 d-flex flex-column pe-0">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de servicio</mat-label>
              <mat-select
                [compareWith]="compareObjects"
                [formControl]="templateControl"
              >
                <mat-option
                  *ngFor="let template of templates; index as i"
                  [value]="template"
                >
                  {{ template.name }}
                </mat-option>
              </mat-select>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </div>
        </div>
        <app-project-quote-form></app-project-quote-form>
        <mat-action-row>
          <button (click)="goToFormFill()" color="primary" mat-button>
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="goToFormFill()"
        [expanded]="step === FORM_FILL_STEP"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Cotización</mat-panel-title>
          <mat-panel-description> Llenado de formulario</mat-panel-description>
        </mat-expansion-panel-header>

        <app-dynamic-form [formFields]="fields"></app-dynamic-form>

        <mat-action-row>
          <button (click)="goToHeaderForm()" color="warn" mat-button>
            Atras
          </button>
          <button (click)="goToPreview()" color="primary" mat-button>
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <!--      PREVIEW-->
      <mat-expansion-panel
        (opened)="step = PREVIEW_STEP"
        [expanded]="step === PREVIEW_STEP"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Vista previa</mat-panel-title>
          <mat-panel-description>
            Vista previa de la cotización realizada
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="container-fluid mat-elevation-z5">
          <div class="row">
            <div class="col-11">
              <mat-toolbar color="primary">
                <span>Conceptos</span>
              </mat-toolbar>
              <div *ngIf="quote" class="row mt-3 ps-3">
                <div *ngFor="let field of quote.operation_fields">
                  <h3>{{ field.name | titlecase }}</h3>
                  <ul class="px-5">
                    <li class="d-flex justify-content-between">
                      <span>{{
                        field.name === 'total' ? 'Subtotal' : 'Valor inicial'
                      }}</span>
                      <span>{{ field.original_value }}</span>
                    </li>
                    <li
                      *ngFor="let concept of field.description"
                      class="d-flex justify-content-between"
                    >
                      <span>{{ concept.concept.description }}</span>
                      <span>{{ concept.value_concept | currency }}</span>
                    </li>
                  </ul>
                  <div
                    class="d-flex justify-content-between px-5 my-3 upper-dotted"
                  >
                    <span class="mt-3">Subtotal: </span>
                    <span class="mt-3"> {{ field.total | currency }}</span>
                  </div>
                </div>

                <div *ngIf="quote.operation_total as total">
                  <h3>{{ total.name | titlecase }}</h3>
                  <ul class="px-5">
                    <li class="d-flex justify-content-between">
                      <span>Suma de subtotales: </span>
                      <span>{{ total.subtotal | currency }}</span>
                    </li>
                    <li
                      *ngFor="let concept of total.description"
                      class="d-flex justify-content-between"
                    >
                      <span>{{ concept.concept.description }}</span>
                      <span>{{ concept.value_concept | currency }}</span>
                    </li>
                  </ul>
                  <div
                    class="d-flex justify-content-between px-5 my-3 upper-dotted"
                  >
                    <span class="mt-3">Subtotal: </span>
                    <span class="mt-3"> {{ total.total | currency }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button (click)="goToFormFill()" color="warn" mat-button>
            Atras
          </button>
          <button
            (click)="isEdit ? updateQuote() : saveQuote()"
            color="primary"
            mat-button
          >
            Guardar
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</mat-card>
