<mat-card>
  <mat-toolbar>
    <div>
      <button aria-label="Regresar" mat-icon-button (click)="backToListUsers()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <ng-container [formGroup]="quoteForm">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === HEADER_STEP" (opened)="goToHeaderForm()" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Encabezado</mat-panel-title>
          <mat-panel-description>
            Datos acerca de la cotización y el cliente
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-project-quote-form formGroupName="headerForm"></app-project-quote-form>
        <mat-action-row>
          <button mat-button color="primary" (click)="goToFormBuildStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === FORM_BUILD_STEP"
        (opened)="goToFormBuildStep()"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Cotización</mat-panel-title>
          <mat-panel-description> Creación de formulario </mat-panel-description>
        </mat-expansion-panel-header>

        <app-dynamic-form-creation></app-dynamic-form-creation>

        <mat-action-row>
          <button mat-button color="warn" (click)="goToHeaderForm()">Atras</button>
          <button mat-button color="primary" (click)="goToFormFill()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === FORM_FILL_STEP"
        (opened)="goToFormFill()"
        (closed)="saveState = true"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Cotización</mat-panel-title>
          <mat-panel-description> Llenado de formulario </mat-panel-description>
        </mat-expansion-panel-header>

        <app-dynamic-form [save]="saveState" [formFields]="formFields"></app-dynamic-form>

        <mat-action-row>
          <button mat-button color="warn" (click)="goToFormBuildStep()">Atras</button>
          <button mat-button color="primary" (click)="goToOperationsForm()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === OPERATIONS_FORM_STEP"
        (opened)="goToOperationsForm()"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Conceptos </mat-panel-title>
          <mat-panel-description>
            Conceptos que se agregaran a la cotización
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-operations (form)="operationsForm = $event"></app-operations>

        <mat-action-row>
          <button mat-button color="warn" (click)="goToFormFill()">Atras</button>
          <button mat-button color="primary" (click)="goToPreview()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>

      <!--      PREVIEW-->
      <mat-expansion-panel [expanded]="step === PREVIEW_STEP" (opened)="goToPreview()" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Vista previa </mat-panel-title>
          <mat-panel-description> Vista previa de la cotización realizada </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button mat-button color="warn" (click)="goToOperationsForm()">Atras</button>
          <button mat-button color="primary" (click)="saveQuote()">Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</mat-card>
