<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="backToListDocuments()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="operationForm"
    class="row justify-content-center"
  >
    <div class="col-6 d-flex flex-column">

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput type="text" />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="description" matInput type="text"></textarea>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Categoria de operación</mat-label>
        <input
          [viewClassBuilder]="categoryOperationProvider"
          title="Selecciona una Categoria"
          o2cSinglePopup
          formControlName="category_operation_id"
          matInput
          type="text"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col-9">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Documentos</mat-label>
            <input
              [viewClassBuilder]="documentProvider"
              title="Selecciona un Otorgante"
              o2cMultiPopup
              formControlName="documents"
              matInput
              type="text"
            />
            <mat-icon matSuffix>search</mat-icon>
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <button
            style="width: 100%"
            type="button"
            color="primary"
            (click)="addItem()"
            mat-raised-button
          >
            <mat-icon>add</mat-icon>
            Nuevo Documento
          </button>
        </div>
      </div>



      <button color="primary" mat-flat-button>Guardar</button>
    </div>
  </form>
</mat-card>
