<!--Group-->
<div class="row">
  <div class="row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Selecciona un campo</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        #fieldInput
        [formControl]="autocompleteControl"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions$ | async"
          (click)="addOperation(option)"
          [value]="''"
        >
          {{ option.label }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <form [formGroup]="operationsForm">
    <!--    Operations field-->
    <div class="row" formArrayName="operation_fields">
      <ng-container
        *ngFor="
          let _ of operationsForm.controls.operation_fields.value;
          index as i;
          trackBy: trackByFn
        "
        [formGroupName]="i"
      >
        <div class="col-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Campo</mat-label>
            <input matInput formControlName="key" />
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Concepto</mat-label>
            <input type="text" matInput formControlName="concept" [matAutocomplete]="autoConcept" />
            <mat-autocomplete #autoConcept="matAutocomplete" [displayWith]="displayConceptFn">
              <mat-option
                *ngFor="let concept of filteredConcepts$[i] | async; trackBy: trackConceptsByFn"
                [value]="concept"
              >
                {{ concept.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!--        TODO: Cambiar por un boton para eliminar el concepto-->
        <div class="col-1 d-flex align-items-center" style="margin-top: -20px">
          <button
            type="button"
            mat-mini-fab
            color="warn"
            class="align-self-center search-button"
            (click)="removeOperation(i, 'other')"
            matTooltip="Eliminar opción"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <!--    Operations total-->
    <div class="row" formArrayName="operation_total">
      <ng-container
        *ngFor="
          let _ of operationsForm.controls.operation_total.value;
          index as i;
          trackBy: trackByFn
        "
        [formGroupName]="i"
      >
        <div class="col-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Campo</mat-label>
            <input matInput formControlName="key" />
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Concepto</mat-label>
            <input type="text" matInput formControlName="concept" [matAutocomplete]="autoConcept" />
            <mat-autocomplete #autoConcept="matAutocomplete" [displayWith]="displayConceptFn">
              <mat-option (click)="createNewConcept()">Crear concepto nuevo</mat-option>
              <mat-option
                *ngFor="
                  let concept of filteredConceptsTotal$[i] | async;
                  trackBy: trackConceptsByFn
                "
                [value]="concept"
              >
                {{ concept.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-1 d-flex align-items-center" style="margin-top: -20px">
          <button
            type="button"
            mat-mini-fab
            color="warn"
            class="align-self-center search-button"
            (click)="removeOperation(i, 'total')"
            matTooltip="Eliminar opción"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <button type="button" mat-raised-button color="primary" (click)="calculateOperations()">
        Calcular
      </button>
    </div>
  </form>
</div>
