<div class="sidebar-container">
  <nav class="sidebar">
    <div class="sidebar-header">
      <img
        src="assets/images/profile_picture.jpg"
        alt=""
        class="profile-img profile-img--sidebar-header"
      />
      <h3 class="sidebar-header__profile-name">Patrick Becker</h3>
      <span class="sidebar-header__profile-place">UI/UX Designer</span>
    </div>

    <div class="sidebar-body">
      <div class="sidebar-menu">
        <span class="sidebar-menu__title">Menu</span>
        <ul class="sidebar-menu__body">
          <li class="menu__item">
            <a [routerLink]="'/dashboard'" routerLinkActive="menu__link--active" class="menu__link">
              <i class="fa fa-home menu__icon"></i>
              <span class="menu__label">Home</span>
            </a>
          </li>
          <li class="menu__item">
            <a
              [routerLink]="'/clients'"
              routerLinkActive="menu__link--active"
              class="menu__link"
              (click)="activeMenu($event)"
            >
              <i class="fa fa-bell menu__icon"></i>
              <span class="menu__label">Clientes</span>
            </a>
          </li>
          <li class="menu__item">
            <a [routerLink]="" class="menu__link" (click)="activeMenu($event)">
              <i class="fa fa-map menu__icon"></i>
              <span class="menu__label">Mapas</span>
            </a>
          </li>
          <li class="menu__dropdown">
            <a
              class="menu__dropdown-link"
              [class.menu__dropdown-link--active]="dropdownIsVisible"
              (click)="dropdown()"
            >
              <span class="menu__dropdown-label">Email</span>
              <span class="material-icons menu__dropdown-icon">expand_more</span>
              <ul class="menu__dropdown-container">
                <a class="menu__dropdown-back" (click)="dropdownIsVisible = true">
                  <i class="fas fa-arrow-left menu__dropdown-back-label-icon"></i>
                  <span class="menu__dropdown-back-label"> Regresar </span>
                </a>
                <li class="menu__item">
                  <a [routerLink]="'/clients'" class="menu__link">
                    <i class="fa fa-envelope-open menu__icon"></i>
                    <span class="menu__label">Bandeja de Entrada</span>
                  </a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-reply menu__icon"></i>
                    <span class="menu__label">Reenviar</span>
                  </a>
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-menu">
        <span class="sidebar-menu__title">Componentes</span>
        <ul class="sidebar-menu__body">
          <li class="menu__item">
            <a [routerLink]="" class="menu__link">
              <i class="fa fa-home menu__icon"></i>
              <span class="menu__label">Home</span>
            </a>
          </li>
          <li class="menu__item">
            <a [routerLink]="" class="menu__link">
              <i class="fa fa-bell menu__icon"></i>
              <span class="menu__label">Alertas</span>
            </a>
          </li>
          <li class="menu__dropdown">
            <a [routerLink]="" class="menu__dropdown-link">
              <span class="menu__dropdown-label">Marcas</span>
              <i class="fa fa-chevron-down menu__dropdown-icon"></i>
              <ul class="menu__dropdown-container">
                <a [routerLink]="" class="menu__dropdown-back">
                  <i class="fas fa-arrow-left menu__dropdown-back-label-icon"></i>
                  <span class="menu__dropdown-back-label"> Regresar </span>
                </a>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-amazon menu__icon"></i>
                    <span class="menu__label">Amazon</span>
                  </a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-apple menu__icon"></i>
                    <span class="menu__label">Apple</span>
                  </a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-airbnb menu__icon"></i>
                    <span class="menu__label">airbnb</span>
                  </a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a [routerLink]="" class="menu__link">
              <i class="fa fa-map menu__icon"></i>
              <span class="menu__label">Mapas</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="sidebar-menu">
        <span class="sidebar-menu__title">Componentes</span>
        <ul class="sidebar-menu__body">
          <li class="menu__item">
            <a [routerLink]="" class="menu__link">
              <i class="fa fa-home menu__icon"></i>
              <span class="menu__label">Home</span>
            </a>
          </li>
          <li class="menu__item">
            <a [routerLink]="" class="menu__link">
              <i class="fa fa-bell menu__icon"></i>
              <span class="menu__label">Alertas</span>
            </a>
          </li>
          <li class="menu__dropdown">
            <a [routerLink]="" class="menu__dropdown-link">
              <span class="menu__dropdown-label">Marcas</span>
              <i class="fa fa-chevron-down menu__dropdown-icon"></i>
              <ul class="menu__dropdown-container">
                <a [routerLink]="" class="menu__dropdown-back">
                  <i class="fas fa-arrow-left menu__dropdown-back-label-icon"></i>
                  <span class="menu__dropdown-back-label">
                    Regresar
                  </span>
                </a>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-amazon menu__icon"></i>
                    <span class="menu__label">Amazon</span>
                  </a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-apple menu__icon"></i>
                    <span class="menu__label">Apple</span>
                  </a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="" class="menu__link">
                    <i class="fa fa-airbnb menu__icon"></i>
                    <span class="menu__label">airbnb</span>
                  </a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a [routerLink]="" class="menu__link">
              <i class="fa fa-map menu__icon"></i>
              <span class="menu__label">Mapas</span>
            </a>
          </li>
        </ul>

      </div> -->
    </div>
  </nav>
</div>
