<div class="sidebar-container">
  <nav class="sidebar">
    <div class="sidebar-header">
      <img
        src="assets/images/profile_picture.jpg"
        alt=""
        class="profile-img profile-img--sidebar-header"
      />
      <h3 class="sidebar-header__profile-name">Patrick Becker</h3>
      <span class="sidebar-header__profile-place">UI/UX Designer</span>
    </div>

    <div class="sidebar-body">
      <div class="sidebar-menu">
        <span class="sidebar-menu__title">Menu</span>
        <ul class="sidebar-menu__body">
          <li class="menu__item">
            <a href="#" class="menu__link">
              <i class="fa fa-home menu__icon"></i>
              <span class="menu__label">Home</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <i class="fa fa-bell menu__icon"></i>
              <span class="menu__label">Alertas</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <i class="fa fa-map menu__icon"></i>
              <span class="menu__label">Mapas</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-menu">
        <span class="sidebar-menu__title">Componentes</span>
        <ul class="sidebar-menu__body">
          <li class="menu__item">
            <a href="#" class="menu__link">
              <i class="fa fa-home menu__icon"></i>
              <span class="menu__label">Home</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <i class="fa fa-bell menu__icon"></i>
              <span class="menu__label">Alertas</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <i class="fa fa-map menu__icon"></i>
              <span class="menu__label">Mapas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
