@import '~src/assets/styles/abstracts/variables';

:host {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15rem minmax(0, 1fr);
  grid-template-columns: $sidebarContainer repeat(2, 1fr);
  background-color: var(--color-primary-bg);

  grid-template-areas:
    'header header header'
    'sidebar main main';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 6rem minmax(0, 1fr) 8rem;
}

.page-content {
  margin-top: -4.5rem;
  margin-bottom: 1.5rem;
  padding: 0 24px 0;
}
