<div
  (click)="toggleContainer($event)"
  [ngClass]="{ 'notifications--visible': isOpened }"
  class="notifications"
>
  <span class="material-icons notifications__icon">notifications</span>
  <div appStopPropagation class="notifications__container">
    <div class="notifications__scroll-container">
      <ul class="notifications__list">
        <li class="notifications__item">Notificación 1</li>
        <li class="notifications__item">Notificación 2</li>
        <li class="notifications__item">Notificación 2</li>
        <li class="notifications__item">Notificación 2</li>
      </ul>
    </div>
    <span class="notifications__action">Ver Todas</span>
  </div>
</div>
