<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let row" mat-cell>
      <mat-checkbox
        #checkbox
        (change)="setSelectedItem(row)"
        (click)="$event.stopPropagation()"
        [aria-label]="checkboxLabel(row)"
        [checked]="selection.isSelected(row)"
        color="primary"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container
    *ngFor="let field of labels; let i = index"
    [matColumnDef]="displayedColumns[i + 1]"
  >
    <th *matHeaderCellDef mat-header-cell>{{ field }}</th>
    <ng-container
      *ngIf="displayedColumns[i + 1] | mapTo : doesntHaveHtml; else renderHtml"
    >
      <td *matCellDef="let element" mat-cell>
        {{ element | mapTo : mapToGetKey : i + 1 }}
      </td>
    </ng-container>

    <ng-template #renderHtml>
      <td
        *matCellDef="let element"
        [innerHTML]="element | mapTo : mapToInnerHtml : i + 1"
        mat-cell
      >
        {{ element }}
      </td>
    </ng-template>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    (click)="setSelectedItem(row)"
    *matRowDef="let row; columns: displayedColumns"
    class="mat-row"
    mat-row
  ></tr>
</table>

<mat-paginator
  (page)="onPaginateChange($event)"
  [length]="(data$ | async)?.total"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
></mat-paginator>
