<div class="container-dialog">
  <h2 mat-dialog-title>{{ data.title }}</h2>

  <table
    [dataSource]="dataSource"
    class="mat-elevation-z8 dialog-table"
    mat-table
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox #checkAll (click)="toggleAll()" color="primary">
          Seleccionar Todo
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox
          #checkbox
          (change)="setSelectedItem(row)"
          (click)="setSelectedItem(row)"
          [aria-label]="checkboxLabel(row)"
          [checked]="selection.isSelected(row)"
          color="primary"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container
      *ngFor="let field of labels; let i = index"
      [matColumnDef]="displayedColumns[i + 1]"
    >
      <th *matHeaderCellDef mat-header-cell>{{ field }}</th>
      <ng-container
        *ngIf="
          displayedColumns[i + 1] | mapTo : doesntHaveHtml;
          else renderHtml
        "
      >
        <td *matCellDef="let element" mat-cell>
          {{ element | mapTo : mapToGetKey : i + 1 }}
        </td>
      </ng-container>

      <ng-template #renderHtml>
        <td
          *matCellDef="let element"
          [innerHTML]="element | mapTo : mapToInnerHtml : i + 1"
          mat-cell
        >
          {{ element }}
        </td>
      </ng-template>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr
      (click)="setSelectedItem(row)"
      *matRowDef="let row; columns: displayedColumns"
      class="mat-row"
      mat-row
    ></tr>
  </table>

  <mat-paginator
    (page)="onPaginateChange($event)"
    [length]="(data$ | async)?.total"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
  ></mat-paginator>

  <div class="dialog-results">
    <span *ngFor="let option of optionsSelected" class="dialog-results__chip">
      {{ option[data.property] }}
    </span>
  </div>

  <button
    (click)="closeDialog()"
    class="container-dialog__button"
    color="primary"
    mat-flat-button
  >
    Agregar Selección
  </button>
</div>
