<mat-toolbar>
  <mat-chip-grid aria-label="Filters" multiple="false" selectable="true">
    <mat-chip-option
      (click)="getAllQuotes()"
      [selected]="isSelectedFilter('all')"
    >
      Todas
    </mat-chip-option>
    <mat-chip-option
      (click)="filterBy(option.value)"
      *ngFor="let option of filterOptions"
      [selected]="isSelectedFilter(option.value)"
    >
      {{ option.name }}
    </mat-chip-option>
  </mat-chip-grid>
  <span class="spacer"></span>
  <button
    (click)="preview()"
    *ngIf="selection.selected.length !== 0"
    [matTooltipPosition]="'below'"
    aria-label="Vista previa"
    mat-icon-button
    matTooltip="Vista previa"
  >
    <mat-icon>preview</mat-icon>
  </button>
  <button
    (click)="edit()"
    *ngIf="selection.selected.length !== 0"
    [matTooltipPosition]="'below'"
    aria-label="Editar cotización"
    mat-icon-button
    matTooltip="Editar cotización"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    (click)="delete()"
    *ngIf="selection.selected.length !== 0"
    [matTooltipPosition]="'below'"
    aria-label="Eliminar cotización"
    mat-icon-button
    matTooltip="Eliminar cotización"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
  <button
    (click)="goToNewQuote()"
    [matTooltipPosition]="'below'"
    aria-label="Crear cotización"
    mat-icon-button
    matTooltip="Crear cotización"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</mat-toolbar>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let row" mat-cell>
      <mat-checkbox
        (change)="$event ? selection.toggle(row) : null"
        (click)="$event.stopPropagation()"
        [aria-label]="checkboxLabel(row)"
        [checked]="selection.isSelected(row)"
        color="primary"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nombre</th>
    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell>Descripción</th>
    <td *matCellDef="let element" mat-cell>{{ element.description }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">Sin resultados</td>
  </tr>
  <tr
    (click)="changeSelection(row)"
    (dblclick)="preview(row)"
    *matRowDef="let row; columns: displayedColumns"
    mat-row
  ></tr>
</table>
<mat-paginator
  (page)="pageEvent = $event; onPaginateChange($event)"
  [length]="totalItems"
  [pageSizeOptions]="[5, 10, 25, 100]"
  [pageSize]="pageSize"
></mat-paginator>
