<h2 mat-dialog-title>Participantes</h2>
<div mat-dialog-content>
  <div class="mt-3 row">
    <div class="col-12">
      <h3>Supervisado por:</h3>
      <ul
        class="list-group mt-2"
        *ngFor="let supervisor of this.data.rules.supervisor"
      >
        <li class="list-group-item">
          Usuario: {{ supervisor?.supervision?.user?.email }}
        </li>
        <li class="list-group-item">
          Rol:
          {{ supervisor?.supervision?.user?.role?.name }}
        </li>
        <li class="list-group-item">
          Hora de supervisión:
          {{ supervisor?.supervision?.datetime }}
        </li>
      </ul>

      <h3 class="mt-2">Grupo de tabajo</h3>

      <ul
        class="list-group mt-2"
        *ngFor="let supervisor of this.data.rules.work_group"
      >
        <li class="list-group-item">
          Usuario:
          {{ supervisor?.supervision?.user?.email }}
        </li>
        <li class="list-group-item">
          Rol:
          {{ supervisor?.supervision?.user?.role?.name }}
        </li>
        <li class="list-group-item">
          Hora de supervisión:
          {{ supervisor?.supervision?.datetime }}
        </li>
      </ul>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
</div>
