<div
  [class.form-builder--invalid]="ngControl.touched && ngControl.invalid"
  class="form-builder"
>
  <div class="form-builder__fields">
    <div
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="formFields"
      [class.draggable-list--disabled]="edit"
      cdkDropList
      class="draggable-list"
    >
      <div *ngFor="let field of formFields" cdkDrag class="draggable-box">
        <div *cdkDragPlaceholder class="draggable-placeholder"></div>
        <div class="d-flex justify-content-between w-100">
          <span class="d-flex align-items-center"
          >{{ field.key }} - Tipo: {{ field.controlType }}</span
          >

          <div>
            <button
              (click)="editFormField(field)"
              mat-icon-button
              matTooltip="Editar opción"
              type="button"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="removeFormField(field)"
              mat-icon-button
              matTooltip="Eliminar opción"
              type="button"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
    [formGroup]="form"
    class="form-builder__form"
  >
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tipo de dato</mat-label>
      <mat-select formControlName="controlType">
        <mat-option>Ninguna</mat-option>
        <mat-option *ngFor="let type of types; index as i" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
      <mat-error appErrorMessage></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Etiqueta</mat-label>
      <input autocomplete="off" formControlName="label" matInput type="text" />
      <mat-error appErrorMessage></mat-error>
    </mat-form-field>

    <div
      *ngIf="form.get('controlType')?.value | mapTo: canShowOptions"
      class="form-options"
      formArrayName="options"
    >
      <div
        *ngFor="let option of options.controls; index as i"
        [formGroupName]="i"
        class="form-options__row"
      >
        <div class="form-options__key">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Clave</mat-label>
            <input
              autocomplete="off"
              formControlName="key"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
        <div class="form-options__value">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Valor</mat-label>
            <input
              autocomplete="off"
              formControlName="value"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
        <button
          (click)="deleteOption(i)"
          *ngIf="options.controls.length > 1"
          class="form-options__delete"
          color="warn"
          mat-mini-fab
          matTooltip="Eliminar opción"
          type="button"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div class="form-options__add">
        <button
          (click)="addOption()"
          class="align-self-center search-button"
          color="primary"
          mat-fab
          matTooltip="Agregar otra opción"
          type="button"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="row justify-content-between">
      <button class="col-4" color="primary" mat-flat-button>
        {{ edit | mapTo: labelButton }} Campo
      </button>
      <button
        (click)="cancelEdit(f)"
        *ngIf="edit"
        class="col-4"
        color="accent"
        mat-flat-button
        type="button"
      >
        Cancelar
      </button>
    </div>
  </form>
  <span class="form-builder__error">Debe haber un elemento al menos</span>
</div>
