<div class="row justify-content-center">
  <div class="col-6 d-flex flex-column pe-0">
    <mat-form-field
      *ngFor="let concept of concepts.controls; index as i"
      appearance="outline"
      class="w-100"
    >
      <mat-label>Concepto</mat-label>
      <mat-select [formControl]="$any(concepts).controls[i]">
        <mat-option>Ninguna</mat-option>
        <mat-option
          *ngFor="let concept of concepts$ | async"
          [value]="concept"
          >{{ concept.name }}</mat-option
        >
      </mat-select>
      <!--        <mat-error appErrorMessage></mat-error>-->
    </mat-form-field>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-1">
    <button
      (click)="addNewConcept()"
      aria-label="Buscar cliente"
      class="align-self-center search-button"
      color="primary"
      mat-fab
      matTooltip="Agregar otro concepto"
      type="button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
