html {
  position: relative;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
}

.w-100 {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f6f6f6;
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.text-white {
  color: #ffffff;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.text-muted {
  color: #8687a7;
}
