@import '~src/assets/styles/abstracts/variables';
@import '~src/assets/styles/abstracts/functions';
@import '~src/assets/styles/abstracts/mixins';

@import '~src/assets/styles/base/base';
@import '~src/assets/styles/base/typograpgy';

@import '~src/assets/styles/components/profile-img';

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }

  @include font-scale;
}

a {
  text-decoration: none;
  outline: 0;
}

img {
  height: 10rem;
  width: 10rem;
}

.w-100 {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1e2938;
  background-clip: border-box;
  border: 0 solid #f6f6f6;
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.text-white {
  color: #ffffff;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.text-muted {
  color: #8687a7;
}
