<mat-card>
  <mat-toolbar>
    <div>
      <button (click)="backToListUsers()" aria-label="Regresar" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="userForm"
    class="row justify-content-center"
  >
    <div class="col-6 d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role_id">
          <mat-option>Ninguno</mat-option>
          <mat-option
            *ngFor="let role of roles$ | async"
            [value]="role.id"
          >{{ role.name }}</mat-option
          >
        </mat-select>
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          autocomplete="off"
          formControlName="name"
          matInput
          type="text"
        />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="ejemplo@email.com"
          type="email"
        />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isEdit" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput type="password" />
        <mat-error appErrorMessage></mat-error>
      </mat-form-field>

      <button color="primary" mat-flat-button>Guardar</button>
    </div>
  </form>
</mat-card>
