<mat-card>
  <mat-toolbar>
    <div>
      <button
        (click)="backToListDocuments()"
        aria-label="Regresar"
        mat-icon-button
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="shapeForm"
    class="row justify-content-center"
  >
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        (opened)="step = 0"
        [expanded]="step === 0"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Selección de forma</mat-panel-title>
          <mat-panel-description
            >Configuración de la forma</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div class="col-6 d-flex flex-column pe-0">
            <mat-form-field appearance="outline">
              <mat-label>Seleccione una forma</mat-label>
              <mat-select
                formControlName="template_shape_id"
                (valueChange)="changeShape($event)"
              >
                <mat-option>-- None --</mat-option>
                <mat-option
                  *ngFor="let template of templateShapes; index as i"
                  [value]="template"
                >
                  {{ template.name }}
                </mat-option>
              </mat-select>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Trámite</mat-label>
              <input
                [viewClassBuilder]="procedureProvider"
                title="Selecciona un trámite"
                o2cSinglePopup
                formControlName="procedure_id"
                matInput
                type="text"
              />
              <mat-icon matSuffix>search</mat-icon>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button (click)="goToNext()" color="primary" mat-button>
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="step = 1"
        [expanded]="step === 1"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Encabezado</mat-panel-title>
          <mat-panel-description>
            Datos de encabezado de la forma y datos del registro público
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div class="col-6 d-flex flex-column pe-0">
            <mat-form-field>
              <mat-label>Notario</mat-label>
              <mat-select formControlName="notary">
                <mat-option value="NORMA ROMERO CORTÉS"
                  >NORMA ROMERO CORTÉS (Notario Titular)</mat-option
                >
                <mat-option value="NORMA ALMA CORTÉS CABALLERO"
                  >NORMA ALMA CORTÉS CABALLERO (Notario Auxiliar)</mat-option
                >
              </mat-select>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Folio</mat-label>
              <input formControlName="folio" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Número de escritura</mat-label>
              <input formControlName="scriptures" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cuenta predial</mat-label>
              <input formControlName="property_account" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fecha de firma de la operación</mat-label>
              <input
                (focus)="dateForm.open()"
                [matDatepicker]="dateForm"
                class="clickable"
                formControlName="signature_date"
                matInput
              />
              <mat-datepicker-toggle
                [for]="dateForm"
                matSuffix
              ></mat-datepicker-toggle>
              <mat-datepicker #dateForm></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Partida presupuestal</mat-label>
              <input formControlName="departure" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Inscripción</mat-label>
              <input formControlName="inscription" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fojas</mat-label>
              <input formControlName="sheets" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tomo</mat-label>
              <input formControlName="took" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Libro Num.</mat-label>
              <input formControlName="book" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Valor de la operación</mat-label>
              <input formControlName="operation_value" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tipo de operación</mat-label>
              <input
                [viewClassBuilder]="operationProvider"
                title="Selecciona una operación"
                o2cSinglePopup
                formControlName="operation_id"
                matInput
                type="text"
              />
              <mat-icon matSuffix>search</mat-icon>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>

            <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editorDescription"> </ngx-editor-menu>
              <ngx-editor
                [editor]="editorDescription"
                formControlName="description"
                [placeholder]="placeholderDescription"
              ></ngx-editor>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button (click)="goToPrev()" color="warn" mat-button>Atras</button>
          <button (click)="goToNext()" color="primary" mat-button>
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="step = 2"
        [expanded]="step === 2"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Participantes </mat-panel-title>
          <mat-panel-description>
            Datos de identificación de los participantes
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-md-10">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Primer participante</mat-label>
              <input
                [viewClassBuilder]="grantorProvider"
                title="Selecciona el primer participante"
                o2cSinglePopup
                formControlName="alienating"
                matInput
                type="text"
              />
              <mat-icon matSuffix>search</mat-icon>
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              color="primary"
              (click)="openNewGrantor()"
              mat-raised-button
            >
              <mat-icon>add</mat-icon>
              Nuevo Otorgante
            </button>
          </div>
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Primeros participantes extra Reverso</mat-label>
          <input
            [viewClassBuilder]="grantorProvider"
            title="Selecciona los participantes del reverso"
            o2cMultiPopup
            formControlName="extra_alienating"
            matInput
            type="text"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Segundo participante</mat-label>
          <input
            [viewClassBuilder]="grantorProvider"
            title="Selecciona el segundo participante"
            o2cSinglePopup
            formControlName="acquirer"
            matInput
            type="text"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Segundos Participantes extra Reverso</mat-label>
          <input
            [viewClassBuilder]="grantorProvider"
            title="Selecciona los participantes del reverso"
            o2cMultiPopup
            formControlName="extra_acquirers"
            matInput
            type="text"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>

        <mat-action-row>
          <button (click)="goToPrev()" color="warn" mat-button>Atras</button>
          <button (click)="goToNext()" color="primary" mat-button>
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <!--      DATOS DE FORMA SELECCIONADA -->
      <mat-expansion-panel
        (opened)="step = 3"
        [expanded]="step === 3"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Completar datos </mat-panel-title>
          <mat-panel-description>
            Completar los datos de la forma seleccionada
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form
          *ngIf="builderForm"
          [formGroup]="builderForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row justify-content-center">
            <div class="col-6 d-flex flex-column pe-0">
              <mat-form-field appearance="outline" *ngFor="let field of fields">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  [formControlName]="field.name"
                  matInput
                  [type]="field.type"
                />
                <mat-error appErrorMessage></mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-6 d-flex flex-column pe-0">
            <mat-form-field appearance="outline">
              <mat-label>Total</mat-label>
              <input formControlName="total" matInput type="text" />
              <mat-error appErrorMessage></mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button (click)="goToPrev()" color="warn" mat-button>Atras</button>
          <button (click)="goToNext()" color="primary" mat-button>
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <!--      CAMPO LIBRE PARA EL REVERSO DE LA HOJA-->
      <mat-expansion-panel
        (opened)="step = 4"
        [expanded]="step === 4"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Reverso de la hoja </mat-panel-title>
          <mat-panel-description>
            Agregar texto en el reverso de la hoja
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
          <ngx-editor
            [editor]="editor"
            formControlName="reverse"
            [placeholder]="'Escribe aquí el reverso de la hoja'"
          ></ngx-editor>
        </div>

        <mat-action-row>
          <button (click)="goToPrev()" color="warn" mat-button>Atras</button>
          <button color="primary" mat-button>Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>
