<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let row" mat-cell>
      <mat-checkbox
        (change)="$event ? selection.toggle(row) : null"
        (click)="$event.stopPropagation()"
        [aria-label]="checkboxLabel(row)"
        [checked]="selection.isSelected(row)"
        color="primary"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nombre</th>
    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell>Email</th>
    <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="phone">
    <th *matHeaderCellDef mat-header-cell>Teléfono</th>
    <td *matCellDef="let element" mat-cell>{{ element.phone }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="address">
    <th *matHeaderCellDef mat-header-cell>Dirección</th>
    <td *matCellDef="let element" mat-cell>{{ element.address }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    (click)="selection.toggle(row)"
    *matRowDef="let row; columns: displayedColumns"
    mat-row
  ></tr>
</table>
<mat-paginator
  *ngIf="showPaginator"
  [length]="resultsLength"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  aria-label="Select page of search results"
></mat-paginator>
