.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


canvas{
  width: 100%;
  min-height: 150px;
  margin-bottom: 1rem;
}
